{{#if model}}
  {{#link-to 'new-habit'}}<button class="new-habit" type="submit">New Habit</button>{{/link-to}}
  <h1>Your habits</h1>
  <ul class="habits-list">
    {{#each model as |habit|}}
      <li>
        <h3>{{habit.title}}</h3>
        {{#link-to 'habit' habit}}
          <i class="habit-settings" aria-hidden="true"></i>
        {{/link-to}}
        <p class="text-muted">{{habit.description}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{habit.time}}"
               aria-valuemin="0" aria-valuemax="{{habit.goal}}" style="width: {{percentage habit}}%;">
            {{habit.time}} days
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
<h1 class="dashboard-good-title">You haven't entered any habits yet!</h1>
<p class="dashboard-good-subtitle">Add a new habit now</p>
{{#link-to 'new-habit'}}<button class="dashboard-action-button" type="submit">New Habit</button>{{/link-to}}
{{/if}}
